<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.atguigu.maven.mapper.UserMapper">
	<!-- 插入用户数据 -->
	<!-- Integer addnew(User user) -->
	<insert id="addnew"
		parameterType="com.atguigu.maven.entity.User"
		useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO t_user (
			username, password,
			salt, gender,
			phone, email,
			avatar, is_delete,
			created_user, created_time,
			modified_user, modified_time
		) VALUES (
			#{username}, #{password},
			#{salt}, #{gender},
			#{phone}, #{email},
			#{avatar}, #{isDelete},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	

	

	

	
	<!-- 根据用户名查询用户数据 -->
	<!-- 应用于：注册，登录 -->
	<!-- User findByUsername(String username) -->
	<select id="findByUsername"
		resultType="com.atguigu.maven.entity.User">
		SELECT 
			id, username, password,
			salt, avatar, 
			is_delete AS isDelete
		FROM 
			t_user
		WHERE 
			username=#{username}
	</select>
	
	<!-- 根据用户id查询用户数据 -->
	<!-- User findById(Integer id) -->
	<select id="findById"
		resultType="com.atguigu.maven.entity.User">
		SELECT 
			username,
			gender, phone, email,
			password, salt,
			is_delete AS isDelete
		FROM 
			t_user
		WHERE 
			id=#{id}
	</select>
	<update id="updatePassword">
		UPDATE 
			t_user
		SET
			password=#{password}
		WHERE
			id=#{uid}
	</update>

</mapper>





